{% load static %}
<link rel="stylesheet"  href="{%  static  'css/tailwind.css'  %}">
<link rel="stylesheet"  href="{%  static  'css/custom.css'  %}">
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit Algo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/editor.css' %}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body class="">
        <div style="background-color: #131428;  " class="min-h-screen"> 
            {% include "./components/navbar.html" %}
    
    {% comment %} <div class="header"> Codeboard Online IDE </div> {% endcomment %}
    <div style="background-color: #131428; " class="control-panel   flex items-center justify-between p-4">
        <div>
            <p class="text-white">Code editor</p>
        </div>
        <div class="flex items-center">
        <p class="text-white mr-4">Select Language:</p>
        
        <select id="languages" class="languages" onchange="changeLanguage()">
            <option value="python"> Python </option>
        </select>
         <button onclick="executeCode()" class="mx-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Test Script
        </button>
        <button onclick="executeCode()"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Save Script
        </button>
        </div>
    </div>
    <div class="editor" id="editor"></div>

    {% comment %} <div class="button-container">
        <button class="btn" onclick="executeCode()"> Run </button>
    </div> {% endcomment %}
    <script>
        function executeCode() {
    let output = editor.getSession().getValue();
    console.log("this is the output", output);
    console.log(typeof output);
    var token = '{{csrf_token}}';
    $.ajax({
         headers: { "X-CSRFToken": token },
         url: "http://localhost:8000/build/postalgo",

        method: "POST",

    data: {
        "output": output,
        "title": "analgo"
    //         language: $("#languages").val(),
    //         code: editor.getSession().getValue()
         },

         
    }) 
   // window.location = "/";
    console.log("bottom of functions")
}
    </script>

    {% comment %} <div class="bg-white output"></div> {% endcomment %}
    {% include "./components/footer.html" %}
        </div>
        <script src="" async defer></script>
       
    <script src="{%  static 'js/lib/ace.js' %}"></script>
    <script src="{%  static 'js/lib/theme-monokai.js' %}"></script>
    <script src="{% static 'js/ide.js' %}"></script>
    </body>
</html>