{% load static %}
<link rel="stylesheet"  href="{%  static  'css/tailwind.css'  %}">
<link rel="stylesheet"  href="{%  static  'css/custom.css'  %}">
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Detail View</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		 <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-fetch@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
    {% include "./components/navbar.html" %}
	<body  style="background-color: #131428; " class="leading-normal tracking-normal">
    
  <div class="container p-4"> 
  <div class="flex justify-between">
    <div>
  <h1 class="text-white text-5xl">{{stock.companyName}} Inc </h1>
  <p class="text-white mt-2">Ticker: {{amount}} {{stock.companyName}}</p>
    </div>
	<h1 class="text-white text-5xl">${{mostRecent.close}}</h1>
    </div>
    <div class="flex justify-center">
    <div style="max-width:1000px; min-width: 150px; height:500px;" class="my-chart"></div>
      <div id="chart"></div>
		</div>
    <div class="flex justify-between"> 
      <ul class="flex">
        <li class="text-white mx-2 cursor-pointer">1M</li>
        <li class="text-white mx-2 cursor-pointer">1Y</li>
        <li class="text-white mx-2 cursor-pointer">2Y</li>
      </ul>
      <div> 
         <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="toggleModal('modal-id')">
        Toggle Model
        </form>
        
        <a/>
      </div>
    </div>
    </div>
    <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal-id">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
        <h3 class="text-3xl font-semibold">
        My Algorithms
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="toggleModal('modal-id')">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
     {% if not scripts %}
    <div class="flex justify-center items-center flex-col "> 
    <p class="text-white text-2xl">There are no task entries to display.</p>
    <a href="/build">
    <button  class="bg-blue-500 mt-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Build Script
        </button>
    </a>
    </div>
    {% else %}
            <div class="container mt-4 mx-auto">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {% for script in scripts %}
        <a >
        <div id="myElement{{script.id}}" onclick="changeStyle('myElement{{script.id}}',{{script.id}})" class="card m-2 cursor-pointer border bg-white border-gray-400 rounded-lg hover:shadow-md hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200">
        <div class="m-3">
          <h2 class="text-lg mb-2 text-black">{{script.title}}
         <span class="text-sm text-teal-800 font-mono bg-teal-100 inline rounded-full px-2 align-top float-right animate-pulse">Tag</span></h2>
        <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">{{script.code}}</p>
        </div>
      </div>
    </a>
      {% endfor %}
    </div>
  </div>

 {% endif %}
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
          Close
        </button>
        
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded" onclick="testAlgo()">
        Upload Script
        </button>
       
      </div>
    </div>
  </div>
</div>
<div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
    
        {% include "./components/footer.html" %}
   
    <script>
      let algoToggled = null;

 function testAlgo(){
   console.log("sending Test Algo")
      $(document).ready(function () {
    $.ajax({
      type: "POST",
      url: "/detail/{{stock.id}}/",
      data: {
        'video': "gwg"  // from form
      },
      success: function () {
        console.log("Success")
       // $('#message').html("<h2>Contact Form Submitted!</h2>")
      }
    });
    return false; //<---- move it here
});
}



       function changeStyle(divToChange,id){
         let amount = {{scriptsAmount}}
       //  for(let i=1; i <= amount;i++){
      //     console.log("myElement"+ i)
       //   var miso = document.getElementById("myElement"+ i)
      //    miso.style.borderColor = "none";
      //  }
        var element = document.getElementById(divToChange);
        element.style.borderColor = "red";
        algoToggled = id;
        console.log("algoToggled ",id) 
        
    }
{% comment %} toggle model function   {% endcomment %}
 function toggleModal(modalID){
    document.getElementById(modalID).classList.toggle("hidden");
    document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
    document.getElementById(modalID).classList.toggle("flex");
    document.getElementById(modalID + "-backdrop").classList.toggle("flex");
  }
{% comment %} end toggle model function  {% endcomment %}

  const loadData = d3.json("{% static 'js/sample-data.json' %}").then((data) => {
  const chartResultsData = data["chart"]["result"][0];
  const quoteData = chartResultsData["indicators"]["quote"][0];

  return chartResultsData["timestamp"].map((time, index) => ({
    date: new Date(time * 1000),
    high: quoteData["high"][index],
    low: quoteData["low"][index],
    open: quoteData["open"][index],
    close: quoteData["close"][index],
    volume: quoteData["volume"][index],
  }));
});

const movingAverage = (data, numberOfPricePoints) => {
  return data.map((row, index, total) => {
    const start = Math.max(0, index - numberOfPricePoints);
    const end = index;
    const subset = total.slice(start, end + 1);
    const sum = subset.reduce((a, b) => {
      return a + b["close"];
    }, 0);

    return {
      date: row["date"],
      average: sum / subset.length,
    };
  });
};

loadData.then((data) => {
  initialiseChart(data);
});

// credits: https://brendansudol.com/writing/responsive-d3
const responsivefy = (svg) => {
  // get container + svg aspect ratio
  const container = d3.select(svg.node().parentNode),
    width = parseInt(svg.style("width")),
    height = parseInt(svg.style("height")),
    aspect = width / height;

  // get width of container and resize svg to fit it
  const resize = () => {
    var targetWidth = parseInt(container.style("width"));
    svg.attr("width", targetWidth);
    svg.attr("height", Math.round(targetWidth / aspect));
  };

  // add viewBox and preserveAspectRatio properties,
  // and call resize so that svg resizes on inital page load
  svg
    .attr("viewBox", "0 0 " + width + " " + height)
    .attr("perserveAspectRatio", "xMinYMid")
    .call(resize);

  // to register multiple listeners for same event type,
  // you need to add namespace, i.e., 'click.foo'
  // necessary if you call invoke this function for multiple svgs
  // api docs: https://github.com/mbostock/d3/wiki/Selections#on
  d3.select(window).on("resize." + container.attr("id"), resize);
};

const initialiseChart = (data) => {
  data = data.filter(
    (row) => row["high"] && row["low"] && row["close"] && row["open"]
  );

  thisYearStartDate = new Date(2018, 0, 1);

  // filter out data based on time period
  data = data.filter((row) => {
    if (row["date"]) {
      return row["date"] >= thisYearStartDate;
    }
  });

  const margin = { top: 50, right: 50, bottom: 50, left: 50 };
  const width = window.innerWidth - margin.left - margin.right; // Use the window's width
  const height = window.innerHeight - margin.top - margin.bottom; // Use the window's height

  // find data range
  const xMin = d3.min(data, (d) => {
    return d["date"];
  });

  const xMax = d3.max(data, (d) => {
    return d["date"];
  });

  const yMin = d3.min(data, (d) => {
    return d["close"];
  });

  const yMax = d3.max(data, (d) => {
    return d["close"];
  });

  // scale using range
  const xScale = d3.scaleTime().domain([xMin, xMax]).range([0, width]);

  const yScale = d3
    .scaleLinear()
    .domain([yMin - 5, yMax])
    .range([height, 0]);

  // add chart SVG to the page
  const svg = d3
    .select("#chart")
    .append("svg")
    .attr("width", width + margin["left"] + margin["right"])
    .attr("height", height + margin["top"] + margin["bottom"])
    .call(responsivefy)
    .append("g")
    .attr("transform", `translate(${margin["left"]}, ${margin["top"]})`);

  // create the axes component
  svg
    .append("g")
    .attr("id", "xAxis")
    .attr("transform", `translate(0, ${height})`)
    .call(d3.axisBottom(xScale));

  svg
    .append("g")
    .attr("id", "yAxis")
    .attr("transform", `translate(${width}, 0)`)
    .call(d3.axisRight(yScale));

  // renders close price line chart and moving average line chart

  // generates lines when called
  const line = d3
    .line()
    .x((d) => {
      return xScale(d["date"]);
    })
    .y((d) => {
      return yScale(d["close"]);
    });

  const movingAverageLine = d3
    .line()
    .x((d) => {
      return xScale(d["date"]);
    })
    .y((d) => {
      return yScale(d["average"]);
    })
    .curve(d3.curveBasis);

  svg
    .append("path")
    .data([data]) // binds data to the line
    .style("fill", "none")
    .attr("id", "priceChart")
    .attr("stroke", "steelblue")
    .attr("stroke-width", "1.5")
    .attr("d", line);

  // calculates simple moving average over 50 days
  const movingAverageData = movingAverage(data, 49);
  svg
    .append("path")
    .data([movingAverageData])
    .style("fill", "none")
    .attr("id", "movingAverageLine")
    .attr("stroke", "#FF8900")
    .attr("d", movingAverageLine);

  // renders x and y crosshair
  const focus = svg.append("g").attr("class", "focus").style("display", "none");

  focus.append("circle").attr("r", 4.5);
  focus.append("line").classed("x", true);
  focus.append("line").classed("y", true);

  svg
    .append("rect")
    .attr("class", "overlay")
    .attr("width", width)
    .attr("height", height)
    .on("mouseover", () => focus.style("display", null))
    .on("mouseout", () => focus.style("display", "none"))
    .on("mousemove", generateCrosshair);

  d3.select(".overlay").style("fill", "none");
  d3.select(".overlay").style("pointer-events", "all");

  d3.selectAll(".focus line").style("fill", "none");
  d3.selectAll(".focus line").style("stroke", "#67809f");
  d3.selectAll(".focus line").style("stroke-width", "1.5px");
  d3.selectAll(".focus line").style("stroke-dasharray", "3 3");

  //returs insertion point
  const bisectDate = d3.bisector((d) => d.date).left;

  /* mouseover function to generate crosshair */
  function generateCrosshair() {
    //returns corresponding value from the domain
    const correspondingDate = xScale.invert(d3.mouse(this)[0]);
    //gets insertion point
    const i = bisectDate(data, correspondingDate, 1);
    const d0 = data[i - 1];
    const d1 = data[i];
    const currentPoint =
      correspondingDate - d0["date"] > d1["date"] - correspondingDate ? d1 : d0;
    focus.attr(
      "transform",
      `translate(${xScale(currentPoint["date"])}, ${yScale(
        currentPoint["close"]
      )})`
    );

    focus
      .select("line.x")
      .attr("x1", 0)
      .attr("x2", width - xScale(currentPoint["date"]))
      .attr("y1", 0)
      .attr("y2", 0);

    focus
      .select("line.y")
      .attr("x1", 0)
      .attr("x2", 0)
      .attr("y1", 0)
      .attr("y2", height - yScale(currentPoint["close"]));

    // updates the legend to display the date, open, close, high, low, and volume of the selected mouseover area
    updateLegends(currentPoint);
  }

  /* Legends */
  const updateLegends = (currentData) => {
    d3.selectAll(".lineLegend").remove();

    const legendKeys = Object.keys(data[0]);
    const lineLegend = svg
      .selectAll(".lineLegend")
      .data(legendKeys)
      .enter()
      .append("g")
      .attr("class", "lineLegend")
      .attr("transform", (d, i) => {
        return `translate(0, ${i * 20})`;
      });
    lineLegend
      .append("text")
      .text((d) => {
        if (d === "date") {
          return `${d}: ${currentData[d].toLocaleDateString()}`;
        } else if (
          d === "high" ||
          d === "low" ||
          d === "open" ||
          d === "close"
        ) {
          return `${d}: ${currentData[d].toFixed(2)}`;
        } else {
          return `${d}: ${currentData[d]}`;
        }
      })
      .style("fill", "white")
      .attr("transform", "translate(15,9)"); //align texts with boxes
  };

  /* Volume series bars */
  const volData = data.filter((d) => d["volume"] !== null && d["volume"] !== 0);

  const yMinVolume = d3.min(volData, (d) => {
    return Math.min(d["volume"]);
  });

  const yMaxVolume = d3.max(volData, (d) => {
    return Math.max(d["volume"]);
  });

  const yVolumeScale = d3
    .scaleLinear()
    .domain([yMinVolume, yMaxVolume])
    .range([height, height * (3 / 4)]);

  svg
    .selectAll()
    .data(volData)
    .enter()
    .append("rect")
    .attr("x", (d) => {
      return xScale(d["date"]);
    })
    .attr("y", (d) => {
      return yVolumeScale(d["volume"]);
    })
    .attr("class", "vol")
    .attr("fill", (d, i) => {
      if (i === 0) {
        return "#03a678";
      } else {
        return volData[i - 1].close > d.close ? "#c0392b" : "#03a678"; // green bar if price is rising during that period, and red when price  is falling
      }
    })
    .attr("width", 1)
    .attr("height", (d) => {
      return height - yVolumeScale(d["volume"]);
    });
  // testing axis for volume
  /*
  svg.append('g').call(d3.axisLeft(yVolumeScale));
  */
};

    </script>
      
	</body>
</html>
