{% load static %}
<link rel="stylesheet"  href="{%  static  'css/tailwind.css'  %}">
<link rel="stylesheet"  href="{%  static  'css/custom.css'  %}">
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>MS Money Maker</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		 <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
	</head>
    {% include "./components/navbar.html" %}
	<body  style="background-color: #131428; " class="leading-normal tracking-normal">
  
		
            
			<div class="flex  flex-col items-center mt-8  ">
         
        <div class="flex  ">
          <div class="m-8 hidden md:block">
             <img style="height: 600px;" src="{% static 'images/PyHome.png' %}" />
        </div>
        <div>
             <div class="flex flex-col m-8">
                <h1 class="text-5xl -bold  text-white my-4">Launch yourself 
into the world <br/>
of python algorithm
trading <br/> with 
Pygorithm</h1>
				<p class=" text-white my-4">Test your Python algorithm against stocks. Write custom python trading scripts and run them on your favorite 
          stocks in the browser.
        </p>
            <div class="flex my-4">
        <button type="button" class=" w-32 inline-block px-6 py-2.5 bg-white text-black font-medium text-xs 
  leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 
  ocus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg 
  transition duration-150 ease-in-out">Get Started</button>
  <button type="button" class=" mx-4 inline-block px-6 py-2.5 bg-white text-black font-medium text-xs 
  leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 
  ocus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg 
  transition duration-150 ease-in-out">Documentation</button>
            </div>
      </div>
      
      <div class="  flex justify-left m-4 items-center">
        <div>
        <p class=" text-white mx-4 text-2xl font-bold">50+ Stocks</p>
        </div>
          <div style="width: 3px; height: 20px; background: #FFF;" class="seperator"></div>
          <div>
           <p class=" text-white mx-4 text-center text-2xl font-bold">10+ Algo Templates</p>
          </div>
          <div style="width: 3px; height: 20px; background: #FFF;" class="seperator"></div>
          <div> 
          <p class=" text-white mx-4 text-center text-2xl font-bold">1,000+ Users</p>
        </div>
      </div>
    </div>
  </div>
    <div style="background-color: #1E2023;"  class="container  max-w-lg  p-4 rounded">
                {% include "./components/searchHome.html" %}
                {% comment %} stock crpyto table   {% endcomment %}
                <div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-2">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-2">
      <div class="overflow-x-auto">
        <table class="min-w-full">
      
          
          <tbody>
              {% for stock in stocks %}
              
             
              <tr class="hover:bg-gray-800 border-b">
              <td> 
                <img class="" src="{% static 'images/stocks/' %}{{stock.logo}}" />
              </td>
              <td class="text-white"> 
               {{stock.ticker}}
              </td>
              <td class="text-white">
                    <p class=""> {{stock.companyName}} </p>
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                <div style="max-width:200px; min-width: 150px;" class="my-chart{{stock.id}}"></div>
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                <p class="text-white">${{stock.mostRecentPrice}}</p>
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                <div class="flex space-x-2 justify-center">
            <a href="/detail/{{stock.id}}">
              {% if user.is_authenticated %}
  <button type="button" class="inline-block px-6 py-2.5 bg-white text-black font-medium text-xs 
  leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 
  ocus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg 
  transition duration-150 ease-in-out">View</button>
  {% else %}
  <button type="button" class="inline-block px-6 py-2.5 bg-white text-black font-medium text-xs 
  leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 
  ocus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg 
  transition duration-150 ease-in-out">Login To Test</button>
  {% endif %}
            </a>
</div>
              </td>
             
            </tr>
       
   
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
                {% comment %} end of table  {% endcomment %}
</div>
 {% include "./components/homePagination.html" %}    
			</div>
            
            
		
        {% include "./components/footer.html" %}
        <script>
            let arrayGraphs = []
            let amount = {{amount}}
            console.log(amount)
            /* Add a basic data series with six labels and values */
    for (let i = 1; i <= amount; i++) {



            /* Add a basic data series with six labels and values */
var data = {
  labels: ['M', 'T', 'W', 'TH', 'F', 'S'],
  series: [
    [5, 4, 3, 7, 5, 10, 2, 11, 23, 1],  
  ]
};
// We are setting a few options for our chart and override the defaults
var options = {
  // Don't draw the line chart points
  showPoint: false,
   showArea: true,
  // Disable line smoothing
  lineSmooth: true,
  // X-Axis specific configuration
  axisX: {
    // We can disable the grid for this axis
    showGrid: false,
    // and also don't show the label
    showLabel: false
  },
  // Y-Axis specific configuration
  axisY: {
    // Lets offset the chart a bit from the labels
    offset: 60,
    showLabel: false
  }
};
 var x = ".mychart" 
 var r = i.toString();
 x= x+ r
 
 console.log('gwgw',x)
// All you need to do is pass your configuration as third parameter to the chart function
 let chart = new Chartist.Line('.my-chart1', data, options);
 arrayGraphs.push(chart)
   }



        </script>
	</body>
</html>
